[build]
  publish = "."
[[redirects]]
  from = "/admin/*"
  to = "/admin/:splat"
  status = 200
  conditions = { Role = ["admin"] }
[[redirects]]
  from = "/admin/*"
  to = "/login.html"
  status = 401
  force = true
